.form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 2rem;
    background-color: #F0F2F5;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #5A7691;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

mat-form-field {
    width: 100%;
    background-color: white;
    border-radius: 8px;
}

mat-label {
    font-size: 16px;
    color: #5A7691;
    font-weight: 600;
    padding-left: 1rem;
}

mat-select, input[matInput] {
    font-size: 16px;
    color: #2E2E2E;
    border-radius: 8px;
    padding: 8px;
}

mat-error {
    color: rgb(202, 34, 34);
    font-size: 14px;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.salvar {
    background-color: #5A7691;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    border: none;
}

.salvar:hover {
    background-color: #4A6379;
}

.cancelar {
    color: #5A7691;
    border: 1px solid #5A7691;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    background-color: white;
}

.cancelar:hover {
    background-color: #E0E3E7;
}
