.create {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.create h1 {
  font-size: 2rem;
  color: #5A7691; 
}

.create button {
  width: 200px;
  padding: 10px;
  background-color: #5A7691; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.create button:hover {
  background-color: #4A6379; 
}

.container {
  width: 80%;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #F0F2F5; 
}

th {
  background-color: #5A7691; 
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #C0C7D1; 
  color: #2E2E2E; 
}

tr:hover {
  background-color: #E0E3E7; 
}

.mat-paginator {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#edit {
  color: #64B6AC; 
}

#delete {
  color: rgb(202, 34, 34); 
}
