.footer {
    height: 7%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #5A7691;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #2E2E2E;
    margin: 0;
    font-size: 1rem;
    padding: 0 8%;
    border-radius: 20px;
    background-color: #F0F2F5;
}
