.container {
    height: 85%;
    background-color: rgb(255, 255, 255);
}

.sidenav {
    background-color: #d0c4e1;
    width: 180px;
}

i {
    margin-right: 1rem;
}

.nav-list a {
    align-items: center;
    font-size: 16px;
    color: #333;
}

.nav-list a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.active-link {
    background-color: #b49bd1;
    font-weight: bold;
    width: 190px;
}