.container {
    height: 85%;
    background-color: #FFFFFF;
}

.sidenav {
    background-color: #F0F2F5;
    width: 180px;
}

i {
    margin-right: 1rem;
}

.nav-list a {
    align-items: center;
    font-size: 16px;
    color: #2E2E2E;
}

.nav-list a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.active-link {
    background-color: #5A7691;
    font-weight: bold;
    width: 190px;
    color: white;
}
