.form {
    width: 40%;
    margin: auto;
}

h1 {
    color: #0e22d6;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem; 
}

button {
    width: 100%;
    margin-bottom: .5rem;
}

.salvar {
    background-color: #0e22d6;
    color: rgb(206, 196, 216);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.salvar:hover{
    background-color: #293ad1;
}

.cancelar {
    background-color:rgb(206, 196, 216);
    color: #0e22d6;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar:hover {
    background-color:rgb(213, 212, 214);
}
