<mat-card class="mat-elevation-z8">
    <div class="image-container">
        <img src="assets/img/work.png" alt="">
        <div class="container-titulos">
            <mat-card-title class="title">Cliniconect</mat-card-title>
            <div class="container-div">
                <mat-card-subtitle class="subtitle">
                    Sistema de cadastro de pacientes e profissionais e agendamento de 
                    consultas com profissionais da área da saúde para diversas necessidades.
                </mat-card-subtitle>
            </div>
        </div>
    </div>
</mat-card>
